*{
    background-image: url(bgeasymovies.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
button{
    padding:13px;
    padding-left: 200px;
    padding-right: 200px;
    border-color: rgba(255, 255, 255, 0.503);
    border-radius: 13px;
    font-size:30px;
}
button a{
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}
.but{
padding-left: 2.4cm;
padding-top: 3cm;
}
button a:hover{
    color:rgb(114, 118, 174);
}
.one{
    color: white;
    padding-left: 0.5cm;
    padding-top: 0.5cm;
}
.two{
    color: white;
    font-size: 90px;
    padding-left: 0.5cm;
    padding-top: 0.5cm;
}
