{%extends 'base.html'%}
{%load static%}
{%block content%}

<body style="background-color:#C9D1D5;">
<div class="row">
  <div class="col-md-10">
    <h2>Movie Info for:</h2>
    <h3>{{movie_data.Title}}</h3>
  </div>
</div>
  <div class="container" id="datadisp">
    <div class="row">
      <div class="col-md-4">
        {%if our_db is True %}
          <img src=" {{ movie_data.Poster.url }} " class="card-img-top" /></div>
        {% else %}
          <img src=" {{ movie_data.Poster }} " class="card-img-top" /></div>
        {%endif%}

      <div class="col-md-8">
        <h4>
          <hr><b>Title : </b>{{ movie_data.Title }}
        </h4>
        <hr>
        <h6><b>Released : </b>{{movie_data.Year}}</h6>
        <h6><b>Type : </b>{{movie_data.Type}}</h6>
        <h6><b>Runtime : </b>{{movie_data.Runtime}}</h6>

        {%if our_db is True %}
          <h6><b>Genre : 
            {% for genre in movie_data.Genre.all %} 
              <a href="{{ genre.get_absolute_url }}">{{ genre }}</a>, 
            {% endfor %}</b></h6>
        {% else %}
          <h6><b>Genre :</b>{{movie_data.Genre}}</h6>
        {%endif%}

        <h6><b>Language : </b>{{movie_data.Language}}</h6>
        <h6><b>Country : </b>{{movie_data.Country}}</h6>

        {%if our_db is True %}
        <h6><b>Actors : {% for actor in movie_data.Actors.all %} </b>{{actor}}, </h6>{%endfor%}
        {% else %}
        <h6><b>Actors :</b>{{movie_data.Actors}}</h6>
        {%endif%}

        <h6><b>Writer :</b>{{movie_data.Writer}}</h6>
        <h6><b>Director : </b>{{movie_data.Director}}</h6>
        <h6><b>Awards : </b>{{movie_data.Awards}}</h6>
        <h6><b>Rating : </b>{{movie_data.Rated}}</h6>
        <h6><b>Plot : </b>{{movie_data.Plot}}</h6>
      </div>
    </div>
{%endblock%}