{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class-"movie-info-container" style="background-color: #7e8c9c; min-height: 100vh;">
  <div class="row">
    <h1 class="text-center pt-5">{{movie_data.Title}}</h1>
  </div>
  <div class="container" id="datadisp">
    <div class="row">
      <div class="col-md-4">
        {%if our_db is True %}
          <img src=" {{ movie_data.Poster.url }} " class="card-img-top h-80vh" style="height: 70vh;" />
        {% else %}
          <img src=" {{ movie_data.Poster }} " class="card-img-top" style="height: 70vh;"/>
        {%endif%}
      </div>
      <div class="col-md-8 d-flex">
      <div class="col-md-2">
        <h6 class="mt-3"><b>Released : </b></h6>
        <h6><b>Type : </b></h6>
        <h6><b>Runtime : </b></h6>
        <h6><b>Genre :</b></h6>
        <h6><b>Language : </b></h6>
        <h6><b>Country : </b></h6>
        <h6><b>Actors :</b></h6>
        <h6><b>Writer :</b></h6>
        <h6><b>Director : </b></h6>
        <h6><b>Awards : </b></h6>
        <h6><b>Rating : </b></h6>
        <h6><b>Plot : </b></h6>
      </div>
      <div class="col-md-10">
        <h6 class="mt-3"><b>{{movie_data.Year}}</b></h6>
        <h6><b>{{movie_data.Type}}</b></h6>
        <h6><b>{{movie_data.Runtime}}</b></h6>
      
        <h6>
        {%if our_db is True %}
          {% for genre in movie_data.Genre.all %}
            <b><a href="{{ genre.get_absolute_url }}" style="text-decoration:none;">{{ genre }}</a>,</b>
          {% endfor %}
        {% else %}
          <b>{{movie_data.Genre}}</b>
        {%endif%}
        </h6>
        
        <h6><b>{{movie_data.Language}}</b></h6>
        <h6><b>{{movie_data.Country}}</b></h6>
      
        
        <h6><b>{{movie_data.Actors}}</b></h6>
      
        <h6><b>{{movie_data.Writer}}</b></h6>
        <h6><b>{{movie_data.Director}}</b></h6>
        <h6><b>{{movie_data.Awards}}</b></h6>
        <h6><b>{{movie_data.Rated}}</b></h6>
        <h6><b>{{movie_data.Plot}}</b></h6>
        <div class="pt-3">
          <a  style="text-decoration:none;"class="login-button" href="{%url 'watchlist' movie_data.imdbID %}">Rate</a>
          <a  style="text-decoration:none;"class="login-button" href="{%url 'watchlist' movie_data.imdbID %}">Watchlist</a>
          <a  style="text-decoration:none;"class="login-button" href="{%url 'watched_movies' movie_data.imdbID %}">Watched</a>
        </div>
        
      </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image: linear-gradient(to left top, #55c2c3, #3397a8, #1f6e87, #154762, #0c243c);"></div>
</div>
{%endblock%}