body{
    border:2px black;
}
.container{
    width: 70%;
    margin:100px auto;
    padding:20px;
    text-align: center;
    letter-spacing: 0.1em;
}
.form1{
    padding: 20px;
}
.form1 label{
   display:block;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
   padding-bottom:8px;
}
.form1 input[type="text"],.form1 input[type="password"]{
    width:250px;
    padding: 10px;
    background-color: bisque;
}
.form_grp{
    padding-bottom: 20px;
 }
 .button{
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
 }
 
 .button:hover{
    background-color:brown;
 }