{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="home">
    <div class="login-container">
    <h1>LOGIN</h1>
    <form class="form1" action="" method="POST">
        {%csrf_token%}
        <div class="form_grp"> 
            <label>Username</label>
            {{form.username}}
        </div>  
        <div class="form_grp"> 
            <label>Password</label>
            {{form.password}}
        </div> 
        {%if form.errors%}
            <h3>Your username or password did not match!!</h3>
        {%endif%}
        <div>
            <input class="login-button" type="submit" value="submit" name="submit">
        </div>
        <div>
            <h5 class="register-div">New here?<a href="{% url 'register' %}">Register</a></h5>
        </div>  
    </form>
    </div>
    <div class="background"><img src="{% static '/img/icon2.jpg' %}" alt=""></div>
</div>
{%endblock%}