{% load static %}
<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <title>Login page</title>
         <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <!-- <body>
        <nav>
            <a href="{% url 'login' %}">Sign in</a>
            <img src="{% static '/img/logo.png' %}" title="Logo" width="75">
        </nav> -->
        <div class="container">
            <h1>LOGIN</h1>
            <form class="form1" action="" method="POST">
                {%csrf_token%}
                <div class="form_grp"> 
                    <label>Username</label>
                    {{form.username}}
                </div>  
                <div class="form_grp"> 
                    <label>Password</label>
                    {{form.password}}
                </div> 
                {%if form.errors%}
                    <h3>Your username or password did not match!!</h3>
                {%endif%}
                <div>
                    <input class="button" type="submit" value="submit" name="submit">
                </div>  
               <div>
                <h5>New here?<a href="{% url 'register' %}">Register</a></h5>
               </div>  
            </form>
        </div>
     </body>
    </html>
</html>