{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      
      <form method="POST"  role="form" action="">
        <div class="user-details">
          <div class="input-box">
            <label for="username">Username</label>
            <input type="text" name="username">
            {{form.username}}	
          </div>
          <div class="input-box">
          {{form.email}}
            <label for="email">Email</label>
          </div>
          <div class="input-box">
          {{form.first_name}}
            <label for="first_name">First name</label>
          </div>
          <div class="input-box">
          {{form.last_name}}
            <label for="last_name">Last name</label>
          </div>
          <div class="input-box">
          {{form.password}}
            <label for="password">Password</label>
          </div>
          <div class="input-box">
          {{form.confirm_password}}
            <label for="confirm_password">Confirm Password</label>
          </div>
        </div>
        {% if form.errors %}
          {{form.errors}}
        {%endif%}
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>