{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>User details</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/userstyle.css' %}">
    </head>
    <body>
        <div class="container"> 
            <div class="profile">     
                <div class ="image">  
                   <img src="{% static 'img/colour.jpg %}" class="img-top">
                  <img src="{% static 'img/blank.jpg' %}" class="user-img" >
                </div>  
                <div class="first">
                    <h2>Name</h2>
                    <p>Location:</p>
                    <p>Bio:</p>
                    <a herf="#" class="button">Edit profile</a>
                </div>
            <div class="list">
                <div>
                    <h4>Movies watched</h4>
                    <h5>0</h5>
                    <a href="#">showlist</a>
                </div>
                <div>
                    <h4>Series watched</h4>
                    <h5>0</h5>
                    <a href="#">showlist</a>
                </div>
                <div>
                    <h4>Movies in whislist</h4>
                    <h5>0</h5>
                    <a href="#">showlist</a>
                </div>
                

            </div>
            </div>
       </div>   
    </body>
</html>